# compiled output
/employee-app/dist
/user-dtls-authorization/dist
/user-dtls/dist
/user-dtls-jwt/dist

/employee-app/node_modules
/user-dtls-authorization/node_modules
/user-dtls/node_modules
/user-dtls-jwt/node_modules

/employee-app/mta_archives
/user-dtls/mta_archives
/user-dtls-jwt/mta_archives
/user-dtls-authorization/mta_archives
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# mtar files
*.mtar
